* {
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  align-items: normal;
  min-width: 0;
  font-family: 'Helvetica Neue';
}

*, ::after, ::before {
  box-sizing: border-box;
}

div {
  padding: .5em;
}

.suggestedProductsCarousel {
  display: grid;
  grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
}

.productPhoto {
  height: 135px;
  width: 135px;
}

.productDetails {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  text-align: 'center';
}

.productDetails .brandName {
  font-weight: 700;
}

.price {
  font-weight: 700;
}

.new {
  background-color: black;
  position: absolute;
  height: 15px;
  width: 30.8438px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 10px;
  color: white;
  text-align: center;
}

.quickLook {
  display: inline-block;
  border-image: initial;
  color: rgb(232, 230, 227);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* opacity: 0; */
  /* transition: opacity 0.2s ease 0s; */
  text-align: center;
  line-height: 1;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  text-transform: uppercase;
  /* cursor: pointer; */
  border-radius: 0;
  /* border-color: #736b5e; */
}

#quickLookHover {
  background-color: red;
}

.compositeImage {
  position: relative;
}

.rightArrow {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
  width: 32px;
}

#leftArrow {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  right: 0px;
  top: 0px;
  width: 32px;
}