* {
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  align-items: normal;
  min-width: 0;
  font-family: 'Helvetica Neue';
}

*, ::after, ::before {
  box-sizing: border-box;
}

div {
  padding: .5em;
}

.suggestedProductsCarousel {
  display: grid;
  grid-template-columns: 5% 18% 18% 18% 18% 18% 5%;
}

.previewPhoto {
  height: 135px;
  width: 135px;
}

.productDetails {
  font-family: 'Helvetica Neue';
  font-size: 15px;
}

.brandName {
  font-weight: 700;
}

.price {
  font-weight: 700;
}

.modalPrice {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 8px;
  min-height: 44px;
  display: block;
}

.previewNew {
  background-color: black;
  position: absolute;
  height: 15px;
  width: 30.8438px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 10px;
  color: white;
  text-align: center;
}

.modalNew {
  position: absolute;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 0.25em;
  padding: 0px 0.375em;
}

.quickLook {
  display: inline-block;
  border-image: initial;
  color: rgb(232, 230, 227);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* opacity: 0; */
  /* transition: opacity 0.2s ease 0s; */
  text-align: center;
  line-height: 1;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  text-transform: uppercase;
  /* cursor: pointer; */
  border-radius: 0;
  /* border-color: #736b5e; */
}

#quickLookHover {
  background-color: red;
}

.compositeImage {
  position: relative;
}

.rightArrow {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  right: 0px;
  top: 0px;
  width: 32px;
}

#leftArrow {
  font-size: 36px;
  line-height: 0;
  height: 135px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  right: 0px;
  top: 0px;
  width: 32px;
}

.title {
  line-height: 1;
  font-family: georgia, times, serif;
  font-size: 24px;
  text-align: center;
}

.modalPhoto {
  height: 300px;
  width: 300px;
  display: block;
}

.sectionDivider {
  border-bottom: 1px solid;
  border-color: #eee;
  margin-left: 0;
  margin-right: 0;
}

.body {
  box-sizing: content-box;
  width: 980px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.modalContainer {
  display: grid;
  grid-template-rows: 324px auto;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 100%;
  outline: 0px;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: auto;
  border-radius: 6px;
}

.photoAndDetailsModal {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 324px auto;
}

.footerModal {
  display: grid;
  grid-template-columns: 324px auto;
  width: 100%;
}

.modal {
  border: 3px solid #333;
}

.modalX {
  position: absolute;
  right: 20px;
  top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.detailsSizeAndItem {
  font-size: 12px;
  margin-top: 4px;
  color: rgb(117, 117, 117);
  display: block;
}

.seeProductDetailsLink {
  cursor: pointer;
  outline: 0;
  color: #1470f5;
  display: inline-block;
}

.linkDiv {
  text-align: right;
  display: block;
}

.star-ratings-css {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 12px;
  height: 1em;
  width: calc(5em + 0.668em);
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.star-ratings-css-top {
  color: #000;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

.centeredText {
  text-align: center;
}

.boldText {
  font-weight: 700;
}

.dividerText {
  margin-left: 5px;
  margin-right: 5px;
  color: #ccc;
}

.modalHeart {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: text-bottom;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1.125em;
  margin-right: 5px;
}

.modalBuy {
  display: grid;
  grid-template-columns: auto 226px;
}

.modalBuyButtons {
  display: grid;
  grid-template-columns: 58px 168px;
}

.modalDropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  height: 44px;
  padding-left: 16px;
  padding-right: 24px;
  color: #000;
  background-color: #fff;
  text-transform: none;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-appearance: none;
  -webkit-appearance: none;
  min-width: 54px;
}

.modalDropdownArrow {
  display: inline-block;
  border-left: .375em solid transparent;
  border-right: .375em solid transparent;
  border-top: .4375em solid;
  border-bottom: 0;
  font-size: 12px;
  position: absolute;
  top: 27%;
  right: 8px;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  pointer-events: none;
}

.relative {
  position: relative;
}